@model IEnumerable<AgriCont.Models.Maquinario>

@{
    ViewData["Title"] = "Maquinários";
}

<div class="container" style="padding-top:30px">
    <h2>Maquinário</h2>

<p>
        <a asp-action="Create" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Adicionar</a>
</p>
    <table class="table" id="table-maquinarios">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumNotaFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProduto)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumNotaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProduto)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Images/Edit.png" id="Edit" style="height:20px; margin-right:10px"></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><img src="~/Images/Details.png" id="Details" style="height:20px;"></a>
                        @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Images/Excluir.png" id="Delete" style="height:20px; margin:5px"></a>
                            }
                        
            </td>
        </tr>
}
    </tbody>
</table>
</div>
