@model AgriCont.Models.Informatica

@{
    ViewData["Title"] = "Details";
}
<div class="container">
<br />
<div>
    <h2>Detalhes do Produto - Informática</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroNotaFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroNotaFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroApolice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroApolice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorSeguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorSeguro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSeguradora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSeguradora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoManutencao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoManutencao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataManutencao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataManutencao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDepreciacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDepreciacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoBaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivoBaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataBaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataBaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoSoftware)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoSoftware)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.penhora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.penhora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn" style=" background-color: #494949; color: #EDEBEB" asp-route-id="@Model?.Id">Editar</a> 
        <a asp-action="Index" class="btn" style=" background-color: #494949; color: #EDEBEB">Voltar</a>
</div>
<br />
</div>