@model IEnumerable<AgriCont.Models.Informatica>

@{
    ViewData["Title"] = "Index";
}
<div class="container" style="padding-top:30px">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroNotaFiscal)
            </th>
                        <th>
                @Html.DisplayNameFor(model => model.DataEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorProduto)
            </th    >
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>

            <!--
            <th>
                @Html.DisplayNameFor(model => model.NumeroApolice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorSeguro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSeguradora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoManutencao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataManutencao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDepreciacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoBaixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataBaixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManutencaoSoftware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.penhora)
            </th>
            <th></th>
            -->
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroNotaFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

            <!--
            <td>
                @Html.DisplayFor(modelItem => item.NumeroApolice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSeguradora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoManutencao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataManutencao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDepreciacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoBaixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataBaixa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManutencaoSoftware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.penhora)
            </td>
            -->
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>