@model AgriCont.Models.Usuario

@{
    ViewData["Title"] = "Detalhes";
}
<div class="container" style="padding-top:30px">
<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa!.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
    </dl>
</div>
<div>
        <br />
        
            <div class="btn-group mr-2" role="group" aria-label="Primeiro grupo">
                <input type="submit" value="Editar" class="btn" style=" background-color: #494949; color: #EDEBEB;" />
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Segundo grupo">
                <a type="button" class="btn" style=" background-color: #494949; color: #EDEBEB;" asp-controller="Usuarios" asp-action="Index">Voltar</a>
            </div>
        
</div>
</div>